*/__pycache__
.idea/*
/graph/__pycache__
/graph/__pycache__
/graph/__pycache__
/__pycache__
/graph/__pycache__
variable-graph-result/bot1.txt
variable-graph-result/bot2.txt
variable-graph-result/bot3.txt
constants.py
main.py
variable-graph-result/bot4.txt
/graph/sample/__pycache__
