*/__pycache__
.idea/*
/graph/__pycache__
/graph/__pycache__
/graph/__pycache__
/__pycache__
/graph/__pycache__
result/bot1.txt
result/bot2.txt
result/bot3.txt
constants.py
main.py
result/bot4.txt
/graph/sample/__pycache__
