from graph.winnability_sim import Simulation

if __name__ == "__main__":
    isGenerateData = True
    if not isGenerateData:
        data = Simulation.getStoredData()
        Simulation.plot_winnability(data)
    else:
        recordsToFill = 5
        data = Simulation.generate_uniform_data_winnability(recordsToFill)
    print("Data gen finished....")