from analysis import Result
import constants as cnt
from graph.winnability_sim import Simulation

if __name__ == "__main__":
    if cnt.IS_PLOT_WINNABILITY:
        data = Simulation.generate_uniform_data_winnability(5)
        Simulation.plot_winnability(data)
    else:
        recordsToFill = 100
        Result.generate_uniform_data(cnt.IS_VARIABLE_GRAPH, recordsToFill)
    print("Data gen finished....")